[Unit]
Description=Trigger periodico AdOff Social Dispatcher

[Timer]
OnBootSec=3min
OnUnitActiveSec=10min
Persistent=true

[Install]
WantedBy=timers.target
